.modal-overlay {
  position: fixed;
  z-index: 999;
  inset: 0;
  background-color: rgba(black, 0.7);
  display: none;
  align-items: center;
  justify-content: center;

  &__close-button {
    position: absolute;
    color: #fff;
    top: 12px;
    right: 12px;
    font-size: 36px;
  }
}
